@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
.btn {
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
}
.btn span {
  position: relative;
  top: 2.5px;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);
  border-bottom: 5px solid var(--btn-primary-shadow);
  font-size: clamp(1.5rem, 5vw, 1.8rem);
}

.btn--secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-color);
  border-bottom: 5px solid var(--btn-secondary-shadow);
  font-size: 1rem;
}

.btn--warning {
  background-color: var(--btn-warning-bg);
  color: var(--btn-warning-color);
  border-bottom: 5px solid var(--btn-warning-shadow);
  font-size: 1.25rem;
}

.col-span-2 {
  grid-column: span 2;
}

.toggle {
  position: relative;
}

.toggle > span {
  color: var(--display-color);
  font-size: 0.75rem;
  position: absolute;
  top: -20px;
}

.toggle > span:nth-child(1) {
  left: 10px;
}

.toggle > span:nth-child(2) {
  left: 30px;
}

.toggle > span:nth-child(3) {
  left: 52px;
}

.toggle-btn {
  width: 70px;
  height: 25px;
  background-color: var(--btn-grid-bg);
  border: none;
  border-radius: 2em;
  position: relative;
}

.toggle-btn:hover {
  cursor: pointer;
}

.toggle-btn .slider {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  background-color: var(--btn-warning-bg);
  border: none;
  border-radius: 50%;
}

.slider--1 {
  left: 5px;
}

.slider--2 {
  left: calc(50% - 7.5px);
}

.slider--3 {
  right: 5px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--main-bg);
}

.calc {
  display: flex;
  gap: 1.5em;
  flex-flow: column nowrap;
  align-items: stretch;
  width: min(540px, 80vw);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header h1 {
  margin: 0;
  color: var(--display-color);
}

.theme-switcher {
  display: flex;
  gap: 1em;
  align-items: center;
}
.theme-switcher h2 {
  margin: 0;
  color: var(--display-color);
  font-size: 0.75rem;
  text-transform: uppercase;
}

.display {
  min-height: clamp(88px, 20vw, 128px);
  font-size: clamp(1.5rem, 5.5vw, 2.5rem);
  padding: 22px 32px;
  background-color: var(--display-bg);
  border: none;
  border-radius: 0.25em;
  color: var(--display-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
  gap: min(3vw, 1.25em);
  background-color: var(--btn-grid-bg);
  border: none;
  border-radius: 0.5em;
}
